name = "api-gateway"
main = "src/index.ts"
compatibility_date = "2024-12-01"

[dev]
port = 8787
local_protocol = "http"
ip = "0.0.0.0"

[observability]
enabled = true

[[kv_namespaces]]
binding = "API_GATEWAY_KV"
id = "placeholder-id"

[vars]
ALLOWED_ORIGIN = "https://tarkovtracker.org,https://www.tarkovtracker.org"
